<br />
<select ng-change="CambiarIdioma(culture)" ng-model="culture" class="input-sm" type="text">
    <option value="" class="form-control" selected="selected">Language</option>
    <option ng-click="CambiarIdioma(culture)" value="ES-AR">Español</option>
    <option ng-click="CambiarIdioma(culture)" value="EN-US">English</option>
</select>

<md-toolbar class="dxc-bar">
    <div class="md-toolbar-tools">

        <h2><span class="glyphicon glyphicon-edit"></span> {{ProductoViewModel.Idioma.LastProducts}}</h2>

    </div>
</md-toolbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div ng-repeat="x in ProductoViewModel.Productos" class="col-md-4">
                    <div flex-xs flex-gt-xs="200" layout="column">
                        <md-card style="height:500px">
                            <img style="height:240px;width:280px;" src="data:{{x.Image.ContentType}};base64, {{x.Image.Archivo}}" />

                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{x.Title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    {{x.Description}}
                                </p>
                                <p>
                                    {{ProductoViewModel.Idioma.Price}} : {{x.Price}}
                                </p>
                                <p>
                                    {{ProductoViewModel.Idioma.QuantitySold}} :  {{x.QuantitySold}}
                                </p>
                            </md-card-content>
                        </md-card>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
