<div id="left" class="md-toolbar-tools">
    <h2><span class="glyphicon glyphicon-edit"></span> {{ProductoViewModel.Idioma.Producto}}</h2>  
</div>

<div>
    <md-button ng-click="dialogVerCarrito()" class="md-raised md-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Ver carrito (5)</md-button>
    <br />
    <br />
</div>


<div class="container-fluid">

    <div class="row">
        <div  class="col-md-12">
            <div class="row">

                <div ng-repeat="x in ProductoViewModel.Productos" class="col-md-4">
                    <div flex-xs flex-gt-xs="200" layout="column">
                        <md-card style="height:500px">
                            <img style="height:240px;width:280px;" src="../Images/{{x.Image}}" />

                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{x.Title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    {{x.Description}}
                                </p>
                                <p>
                                    {{ProductoViewModel.Idioma.Price}} : {{x.Price}}
                                </p>
                                <p>
                                    {{ProductoViewModel.Idioma.QuantitySold}} :  {{x.QuantitySold}}
                                </p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="dialogVerProducto(x)" class="md-raised md-primary"><span class="glyphicon glyphicon-open"></span> {{ProductoViewModel.Idioma.SeeDetails}}</md-button>
                                <!--<md-button>Action 2</md-button>-->
                            </md-card-actions>
                        </md-card>
                        </div>


                    </div>
             </div>
        </div>
    </div>
</div>

<div ng-show="Crear">
    <label>{{ProductoViewModel.Idioma.Name}}</label>
    <input ng-model="Nuevo.Name" placeholder="Nombre" type="text" />
    <button ng-click="Guardar(Nuevo);Crear=false;" class="btn btn-primary">{{ProductoViewModel.Idioma.Save}}</button>
</div>