<md-toolbar class="dxc-bar">
    <div class="md-toolbar-tools">

        <h2><span class="glyphicon glyphicon-edit"></span> {{ProductoViewModel.Idioma.Producto}}</h2>  

    </div>
</md-toolbar>

<div>
    <md-button ng-click="dialogVerCarrito()" class="md-raised md-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Ver carrito</md-button>
    <br />
    <br />
</div>

<div class="container-fluid">

    <div class="row">
        <div  class="col-md-12">
            <div class="row">

                <div ng-repeat="x in ProductoViewModel.Productos" class="col-md-4">
                    <div flex-xs flex-gt-xs="200" layout="column">
                        <md-card style="height:500px">
                            <img style="height:240px;width:280px;" src="data:{{x.Image.ContentType}};base64, {{x.Image.Archivo}}"/>

                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{x.Title}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    {{x.Description}}
                                </p>
                                <p>
                                    {{ProductoViewModel.Idioma.Price}} : {{x.Price}}
                                </p>
                                <p>
                                    {{ProductoViewModel.Idioma.QuantitySold}} :  {{x.QuantitySold}}
                                </p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="dialogVerProducto(x)" class="md-raised md-primary"><span class="glyphicon glyphicon-open"></span> {{ProductoViewModel.Idioma.SeeDetails}}</md-button>
                                <!--<md-button>Action 2</md-button>-->
                            </md-card-actions>
                        </md-card>
                        </div>


                    </div>
             </div>
        </div>
    </div>
    <div class="form-inline">

        <ul class="pagination">
            <li>
                <a ng-click="VerMenos()">Prev</a>
            </li>
            <li ng-repeat="x in Paginas">
                <a ng-click="VerPagina(x)">{{x}}</a>
            </li>

            <li>
                <a ng-click="VerMas()">Next</a>
            </li>
        </ul>
    </div>
</div>

<div ng-show="Crear">
    <label>{{ProductoViewModel.Idioma.Name}}</label>
    <input ng-model="Nuevo.Name" placeholder="Nombre" type="text" />
    <button ng-click="Guardar(Nuevo);Crear=false;" class="btn btn-primary">{{ProductoViewModel.Idioma.Save}}</button>
</div>

<script>
    $("#prod").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "Product/GetName",
                dataType: "json",
                data: { name: request.term },
                success: function (data) {
                    response(data);
                }

            });

        }

    })
</script>